#btn1 {
    background-color: rgb(83, 83, 209);
    font-weight: bolder;
}
#btn2 {
    background-color: brown;
    font-weight: bolder;
}
#btn3 {
    background-color: darkgreen;
    font-weight: bolder;

}