body {
    font-weight: bold;
}

.content {
    display: flex;
    font-size: 30px;
    background-color: rgba(64, 143, 163, 0.664);
    border: 1.5px solid black;
    margin: 10px 8px 10px 8px;
}

.left {
    width: 50%;
    height: 450px;
    background-color: rgb(245, 141, 6);
    border: 1.5px solid black;
    text-transform: uppercase;
    margin: 20px;
    margin-right: 10px;
}

.right {
    width: 50%;
    height: 450px;
    background-color: rgb(238, 255, 0);
    border: 1.5px solid black;
    text-transform: uppercase;
    margin: 20px;
    margin-left: 10px;
}

h1 {
    width: auto;
    height: 150px;
    background-color: rgba(64, 143, 163, 0.664);
    text-transform: uppercase;
    margin: 7px;
    border: 1.5px solid black;
    font-size: 45px;
}

.head {

}