/*head*/
body {
    background-color: rgb(252, 216, 170);
    font-style: italic;
    margin: 25px;
}
/*body*/
.nombre_diario {
    color: rgb(211, 241, 14);
    text-align: left;
    padding: 15px 10px;
    background-image: url("/Practico 1/DiarioDigital/img/fondo_continentes.avif");
    border-radius: 10px;
    height: 50px;
    margin: 15px;
}
#home {
    text-decoration: none;
}
.foot {
    text-align: center;
    opacity: 40%;
    margin-top: 30px;
}
.division {
    border: 25px;
}
.messi img a {
    display: block;
    width: 315px;
    margin: 5px;
}
.diego img a {
    display: block;
    width: 300px;
    margin: 5px;
}
.pele img a {
    display: block;
    width: 340px;
    margin: 5px;
}
.dibu img a {
    display: block;
    width: 340px;
    margin: 5px;
}
.parodi img {
    display: block;
    width: 340px;
    margin: 5px;
    /* border: 1px solid black; */
    border-radius: 5%;
}
.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(154, 44, 25);
}
.link:hover {
    color: rgb(225, 77, 77);
    text-transform: unset;
    font-family: inherit;
}
.noticias {
    background-color: rgb(211, 241, 14);
    width: fit-content;
    border-radius: 15%;
    color: rgb(126, 46, 246);
}
.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1px;
}
.subtitulo {
    color: rgb(130, 42, 165);
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    border-radius: 6%;
    background-color: rgb(160, 179, 106);
}
.lista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p_parodi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boton_inicio {
    width: 25px;
    height: 25px;
    margin-left: 50px;
    opacity: 65%;
}
.link_nombres {
    color: rgb(255, 102, 0);
    text-decoration: none;
}
.link_nombres:hover {
    color: rgb(13, 13, 63);
}
#pregunta {
    color: brown;
    font-style: oblique;
    font-size: large;
}
#flecha_arr {
    position: relative;
    top: -20;
    left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid #fff;
    display: block;
}