/*head*/
body {
    background-color: rgb(252, 216, 170);
    font-style: italic;
    margin: 25px;
}
a {
    text-decoration: none;
}
/*body*/
.nombre_diario {
    color: rgb(211, 241, 14);
    text-align: center;
    padding: 15px 10px;
    background-image: url("/Practico 1/DiarioDigital/img/fondo_continentes.avif");
    border-radius: 10px;
    height: 80px;
    margin: 3px;
}
.nav-bar {
    display: flex;
    background-color: rgb(194, 184, 241);
    border-radius: 10px;
    margin: 3px;
    word-spacing: 30px;
}
.lista-nav {
    list-style-type: none;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#search {
    position: relative;
}
.division {
    border: 25px;
}
figcaption {
    opacity: 50%;
    margin-left: 10px;
}
.messi img {
    display: flex;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
header img {
    display: inherit;
}
.diego img {
    display: block;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
.pele img {
    display: block;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
.dibu img {
    display: block;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
.parodi img {
    display: block;
    width: 600px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
.p_parodi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(154, 44, 25);
}
.link:hover {
    color: rgb(225, 77, 77);
    text-transform: unset;
    font-family: inherit;
}
.noticias {
    width: auto;
    border-radius: 15%;
    color: rgb(126, 46, 246);
}
.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1px;
    color: rgb(12, 12, 12);
}
.subtitulo {
    color: rgb(130, 42, 165);
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    border-radius: 6%;
    /* background-color: rgb(160, 179, 106); */
}
.lista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boton_inicio {
    width: 25px;
    height: 25px;
    margin-left: 50px;
    opacity: 65%;
}
.link_nombres {
    color: rgb(255, 102, 0);
    text-decoration: none;
}
.link_nombres:hover {
    color: rgb(13, 13, 63);
}
#pregunta {
    color: brown;
    font-style: oblique;
    font-size: large;
}
.foot {
    text-align: center;
    opacity: 40%;
    margin-top: 30px;
}
#flecha_arr {
    position: relative;
    top: -20;
    left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid #fff;
    display: block;
}