body {
    background-color: rgb(252, 216, 170);
    font-style: italic;
    margin: 20px;
    font-size: x-large;
}
a {
    text-decoration: none;
}
span {
    font-size: xx-large;
    font-weight: bolder;
}
h1 {
    font-size: 170%;
}
h2 {
    font-size: 150%;
    color: rgb(59, 14, 31);
}
h3 {
    font-size: 130%;
}
h4 {
    font-size: 110%;
}
header {
    position: fixed;
    margin: 0 20% 0 27%;
}
.div-index {
    text-align: center;
    position: block;
    margin-top: 10em;
}
.div-index2 {
    text-align: center;
    position: block;
    margin-top: 5em;
}
ul {
    text-align: left;
}
.publicidad {
    display: flex;
    margin-left: 85%;
    background-color: cornsilk;
}
thead {
    background-color: rgb(237, 111, 8);
    border-bottom: 1px solid rgb(12, 12, 12);
}
tbody tr .moneda {
    border: 1px solid rgb(187, 31, 31);
    font-weight: bold;
}
td {
    padding: 11px;
}
table {
    position: fixed;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 10px;
}
.nombre_diario {
    display: block;
    /* font-size: xx-large; */
    color: rgb(211, 241, 14);
    text-align: center;
    padding: 1%;
    background-image: url("/Practico 1/DiarioDigital/img/fondo_continentes.avif");
    border-radius: 10px;
    height: 80px;
    margin: 0.5%;
}
.logotipo {
    display: flex;
    position: fixed;
    width: 17%;
    height: 25%;
    margin-left: 1%;
    border-radius: 14%;
    border: steelblue;
}
.color-text-nav {
    color: rgb(235, 82, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.nav-bar {
    display: flex;
    background-color: rgba(194, 185, 233, 0.395);
    border-radius: 10px;
    margin: 1px;
    margin-top: 1%;
    word-spacing: 10rem;
}
.lista-nav {
    display: flex;
    font-size: 1%;
    list-style-type: none;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buscador {
    display: flex;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    /* border-radius: 10px; */
    padding: 1%;
    margin-left: 36%;
    margin-top: 1%;
}
#buscador-button {
    display: flex;
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(13, 13, 13);
    background-color: rgba(194, 185, 233, 0.395);
    border-radius: 15%;
    margin-top: 0%;
}
/*body*/
.noticias-estilo {
    width: auto;
    border-radius: 15%;
    color: rgb(82, 61, 112);
}
.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(154, 44, 25);
}
.foto-descripcion {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1px;
    color: rgb(12, 12, 12);
}
figcaption {
    opacity: 70%;
    padding-left: 1%;
}
#pregunta {
    color: brown;
    font-style: oblique;
    font-size: large;
}
/*subasta*/
.messi {
    display: flex;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
/* header img {
    display: inherit;
} */
.diego {
    display: flex;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
    
}
.pele {
    display: flex;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
.dibu {
    display: flex;
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
.parodi {
    display: flex;
    width: 600px;
    margin: 5px;
    border: 1px solid rgb(118, 101, 101);
    border-radius: 5%;
}
.p_parodi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link:hover {
    color: rgb(225, 77, 77);
    /* text-transform: unset; */
    font-family: inherit;
}
.subtitulo {
    color: rgb(57, 68, 14);
    font-family: Arial, Helvetica, sans-serif;
}
.link_nombres:hover {
    color: rgb(47, 13, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot {
    text-align: center;
    opacity: 40%;
    margin-top: 30px;
}
#flecha_arr {
    position: relative;
    top: -20;
    left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid #fff;
    display: flex;
}